<p id="notice"><%= notice %></p>

<div><%= render partial: 'profile/meetings' %></div>
<br>
<div><%= render partial: 'profile/past_meetings' %></div>

<div><%#= render partial: 'requested' %></div>

<%#= link_to 'New Meeting', new_meeting_path %>
