<div class="wrapper">

  <div class="content_wrapper">

    <div class="sign_up_container">
      <div class="form_container">
        <h2 id="form-header">I want Lexody!</h2>

			<%= render 'form' %>
	  </div>
	</div>
  </div>

			<%#= link_to 'Back', waitlist_requests_path %>
</div>