
  <div id="top_index_wrapper">
	<section id="above_fold">
		<h1 id="index_logo">Lexody</h1>
		
		<div id="profile_circle">
			<h3 id="slogan_blue">Mastering a language<br><em>requires using it.</em></h3>
			<h2 id="slogan_gray">Free Language Immersion</h2>
			<nav>
				<%=link_to "Sign Up", new_user_registration_path, id: "index_sign_up" %> <br>
				<%=link_to "Sign In", new_user_session_path, id: "index_sign_in"  %>
				
			</nav>
		</div>
	</section>
  

  
	<section id="index_about">
		
			 <p id="arrow">
			<!-- 	<span class="glyphicon glyphicon-align-left" aria-hidden="true"> -->
				<%= link_to "#how_it_works" do %>
				<i class="glyphicon glyphicon-menu-down"></i>
<!-- 				</span>
 -->			<!-- 	</p> -->
 				<% end %>
 			</p>
			<h2 id="how_it_works">      What is Lexody?      </h2>
			<p id="landing_description">Lexody is for university students<br>currently studying a foreign language.<br><br>Find fellow students<br>who are native speakers of that language<br>who are also learning your native language</p>
			<!-- <h4>Danny and Maria go to the same university.
				<br>They meet for one hour on campus.
			</h4> -->
		
	</section>
  </div>
	<div id="pintrest_about">
<!-- 		<article id="solid_about_column"> -->

			<!-- The only way to truly learn a language
				Maria is learning English. -->
			<!-- <p id="about_text">Danny speaks English.<br>
			   Danny is learning Spanish.</p>
			<img id="about_img_danny"> -->
	<!-- 	</article>
		<article id="about_column">
			<p id="about_quote">Truly mastering a language<br>
			 means being able to<br>
			 have a conversation.</p> -->
			<!-- <img src="images/travel.jpg"> -->
		<!-- </article>
		<article id="solid_about_column">

		</article>
		<article id="about_column">

		</article>
		<article id="solid_about_column">

		</article>
		<article id="about_column">

		</article> -->
			<!-- <article id="about_column">
				<h4>
					For 30 minutes, they only speak in Spanish.<br><br>
					The last 30 minutes, they only speak in English.</h4>

			</article>

			<article id="about_column">
				
				<p id="about_text">Maria speaks Spanish.<br>
					Maria is learning English.</p>
					<div id="about_img_afua">
				<img id="about_img" src="images/afua.jpg">
			</article> -->
	</div>
	
  


	<section id="value_props">

		<article class="value_circles">

			<h3 class="value_props">In person<br>conversations with<br>native speakers</h3>
			<p class="profile_circle_glyphicon">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
			</p>


		</article>

		<article class="value_circles">
			
			<h3 class="value_props">Teach<br>your native<br>language</h3>
			<p class="profile_circle_glyphicon">
			<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
			</p>

		</article>
		
		<article class="value_circles">
			<h3 class="value_props">Immersion<br>right on your<br>campus</h3>
			<p class="profile_circle_glyphicon">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			</p>
		</article>


	</section>
 
</body>

<footer>
	 
</footer>





<!-- <div class="form_container">

<%# if user_signed_in? %>
<%#= link_to "Sign Out", destroy_user_session_path, class: "btn btn-default", method: :delete%>
<%#= link_to "Edit Profile", destroy_user_session_path, class: "btn btn-default", method: :delete%>
<%# else %>

<%#=link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg btn-block" %> <br>
<%#=link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg btn-block"  %>
<%# end %>
</div> -->

<!-- </div> -->
