<h1>Welcome to Language Exchange!</h1>
<p>Are you learning a language? Find native speakers in your area who are learning your native language.</p>


<%= link_to "Sign Up", new_user_registration_path %> <br>
<%= link_to "Sign In", new_user_session_path %>
