/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.form_container	{
	width: 30em;
	margin: auto;
}

header {
	background-color: #eee;
	padding: 10px;
}

footer {
	background-color: #eee;
	padding: 10px;
	text-align: right;
	font-color: white;
}

body 	{
	font-family: "Arial Black", Gadget, sans-serif;
}



.wrapper	{

}

.clear	{
	clear: both;
}

.profile-container	{
	clear: both;
}


.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.header-logo	{
	font-size: 50px;
}




.profile-picture	{
	margin: 20px;
	boarder: solid;
	padding: 50px 20px;
	width: 30%;
	float: left;

}

.profile-nav	{
	float: right;
	margin: 10px;
	boarder: solid;
	padding: 50px 10px;
	width: 30%;
}	

.btn-profile	{
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 13px;
	padding: 7px 13px;
	boarder-radius: 20px;
	background-color: #ccffe5;
	boarder: 1px solid;
	}


