// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-topics	{
	margin: auto;
	width: 50%;
	font-size: 4em;
	border: #5bc0de solid .25em;
	margin-top: .5em;
	padding: .25em;
	text-align: left;
}

.favorite-topic-title	{
	text-align: left;
}

.topic-wrapper	{
	max-width: 110em;
	margin: auto;
}

.listing-topics	{
	width: 10em;
	height: 10em;
	display: inline-block;
	border: solid #3498db .5em;
	margin: 2%;
	text-align: center;
	font-size: 3em;
}

.favorited_heart_icon, .unfavorited_heart_icon	{
	text-align: right;
	width: 7em;
	height: 7em;
	display: inline;
	border-radius: 100%;
	margin-right: 1.5em;
	margin-top: 1em;
  	float: right;

}

.favorited_heart_icon	{
	background-color: #FF4081;

}

.unfavorited_heart_icon	{
	background-color: #B6B6B6;
}

.topic_title	{
	font-size: 4em;
	display: inline-block;
	
	margin: .5em;
}

.show_topic	{
	height: 40em;
	width: 60em;
	background-color: #B2EBF2;
	margin: auto;
	margin-top: 5em;

}

.topic_body	{
	background-color: white;
	margin: 1em;
	font-size: 3em;
	width: 18em;
	height: 8.5em;
}

.new_topic_button	{
	margin: 1em 33% 1em 33%;
	width: 5em;
	font-size: 10em;

}