	<%= form_for LanguagesUser.new do |f| %>

		<div class="fields">

			<%= f.collection_select(:language_id, Language.order('language ASC').all, :id, :language) %><br>
		    <%= f.hidden_field :level, value: 1 %>
			<%= f.submit "Save Native Language" %>

		</div>
		<% end %>