
<link rel="stylesheet" href="assets/stylesheets/profile.css.scss" />





<div class="match-profile-container">

		<%= render partial: 'test'%>
		<div class="clear"></div>

</div>

<!-- <div class="profile-container">
	<div class"wrapper">
		<%#= render partial: 'meetings'%>
		<div class="clear"></div>
	</div>
</div> -->
<!-- <h1>Past meetings:</h1>
 --><!-- <div class="profile-container">
	<div class"wrapper">
		<%#= render partial: 'past_meetings'%>
		<div class="clear"></div>
	</div>
</div> -->

<div class="profile-container">
	<div class"wrapper">
		<%= render partial: 'match'%>
		<div class="clear"></div>
	</div>
</div> 









