

<div class="wrapper">
	<div class="content-wrapper">
		<h1 class="content-heading">You have joined the Waitlist!</h1>

		<h3>You are #<%= @waitlist_count %> on the waitlist.<br>We will contact you when you are approved.</h3>
		<h4>Skip ahead in line, by inviting your language-loving friends!<br>Tell them to use referral code LEX50<%= @id %></h4>
	</div>
</div>